:root {
  // Fonts
  --font-roboto: "Roboto", sans-serif;

  --font-size-p: 16px;
  --font-line-p: 28px;
  --font-p: var(--font-size-p) / var(--font-line-p) var(--font-roboto);

  --font-size-h2: 30px;
  --font-line-h2: 36px;
  --font-h2: var(--font-size-h2) / var(--font-line-h2) var(--font-roboto);

  --font-size-h3: 24px;
  --font-line-h3: 36px;
  --font-h3: var(--font-size-h3) / var(--font-line-h3) var(--font-roboto);

  --font-size-small: 12px;
  --font-line-small: 28px;
  --font-small: var(--font-size-small) / var(--font-line-small)
    var(--font-roboto);

  // Colors
  --color-black: #000000;
  --color-white: #ffffff;
  --color-light-gray: #505050;
  --color-light-green: rgb(170, 235, 170);

  // Weight
  --font-weight-h1: 800;
  --font-weight-h2: 700;
  --font-weight-h3: 600;
  --font-weight-h4: 500;
  --font-weight-p: 400;
}
