.input {
  font: var(--font-p);

  label {
    display: flex;
    flex-direction: column;
    gap: 6px;
    color: var(--color-black);
  }

  input {
    padding: 12px;
    border: 1px solid var(--color-black);

    &::placeholder {
      color: var(--color-light-gray);
    }
  }
}
